" Keys on Nuphy Keyboard
"   S - Shift
"   C - CTRL
"   A - OPT
"   M - Cmd
"
" Navigate Tabs Vim bindings
"   gt, go to next tab
"   gT, go to the previous tab
"   1gt, go to the first tab
"   2gt, go to the second tab
"   3gt, ....
"
" Plugin Commentary
"   gc{motion}     Comment or uncomment lines that {motion} moves over.
"   gcc            Comment or uncomment [count] lines.
"   {Visual}gc     Comment or uncomment the highlighted lines.
"   gc             Text object for a comment (operator pending mode only.)
"   gcgc           Uncomment the current and adjacent commented lines.
"   gcu
"
" IntelliJ Code Completion
"   Shortcut: Shift + Opt + Space
"   Configuration: Settings | Editor | General | Code Completion | Show suggestions as you type | Popup

set scrolloff=5

" Plugins
set surround
set NERDTree
set which-key
set easymotion
set commentary
set highlightedyank

" which-key: increase the timeoutlen (default: 1000), don't add space around the equal sign
set timeoutlen = 5000

let g:WhichKey_ShowVimActions = "true"

let g:WhichKeyDesc_easymotion = "<leader><leader> EasyMotion"

" highlightedyank: highlight yanked text for 2000ms (default: 500)
let g:highlightedyank_highlight_duration = "2000"

let g:highlightedyank_highlight_color = "rgba(191, 191, 191, 100)"

" leader key
let mapleader = ' '

let g:WhichKeyDesc_leader = "<leader> Leader Key"

" sync Vim clipboard with OS clipboard
set clipboard^=unnamed,unnamedplus

" jump between angle brackets
set matchpairs+=<:>

" smart line joining
set ideajoin

" open config
noremap <leader>cc :edit ~/.ideavimrc<cr>

let g:WhichKeyDesc_edit_vim_config = "<leader>cc Edit VIM Configuration File"

" source config
noremap <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>

let g:WhichKeyDesc_reload_vim_config = "<leader>cs Reload VIM Configuration File"

set hlsearch

" remove search highlights
nnoremap <Esc> :nohlsearch<cr>

" case-insensitive search
set ignorecase

" enable case-sensitive search when uppercased letter is present
set smartcase

" search while typing
set incsearch

" go to the left split
map <A-h> <C-w>h

" go to the bottom split
map <A-k> <C-w>j

" go to the top split
map <A-j> <C-w>k

" go to the right split
map <A-l> <C-w>l

" switch to next tab
map <S-l> gt

" switch to previous tab
map <S-h> gT

map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>ww <Action>(Unsplit)
map <leader>wa <Action>(UnsplitAll)

let g:WhichKeyDesc_split = "<leader>w Split Window"
let g:WhichKeyDesc_split_vertically = "<leader>wv Split Vertically"
let g:WhichKeyDesc_split_horizontally = "<leader>wh Split Horizontally"
let g:WhichKeyDesc_windows_split = "<leader>ww Unsplit"
let g:WhichKeyDesc_windows = "<leader>wa Unsplit all"

map <leader>sc <Action>(GotoClass)
map <leader>sf <Action>(GotoFile)
map <leader>ss <Action>(GotoSymbol)
map <leader>sa <Action>(GotoAction)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gy <Action>(GotoTypeDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gt <Action>(GotoTest)
map <leader>gm <Action>(GotoSuperMethod)
map <leader>gl <Action>(GotoLine)

let g:WhichKeyDesc_goto_artefacts = "<leader>s Artefacts"
let g:WhichKeyDesc_goto_class = "<leader>sc Goto Class"
let g:WhichKeyDesc_goto_file = "<leader>sf Goto File"
let g:WhichKeyDesc_goto_symbol = "<leader>ss Goto Symbol"
let g:WhichKeyDesc_goto_action = "<leader>sa Goto Action"
let g:WhichKeyDesc_goto_sources = "<leader>g Goto Sources"
let g:WhichKeyDesc_goto_declaration = "<leader>gd Goto Declaration"
let g:WhichKeyDesc_goto_type_declaration = "<leader>gy Goto Type-Declaration"
let g:WhichKeyDesc_goto_implementation = "<leader>gi Goto Implementation"
let g:WhichKeyDesc_goto_test = "<leader>gt Goto Test"
let g:WhichKeyDesc_goto_super_method = "<leader>gm Goto Super-Method"
let g:WhichKeyDesc_goto_line = "<leader>gl Goto Line"

map <leader>ug <Action>(FindUsages)
map <leader>uu <Action>(ShowUsages)
map <leader>vs <Action>(ViewSource)
map <leader>qi <Action>(QuickImplementations)
map <leader>qt <Action>(QuickTypeDefinition)
map <leader>ti <Action>(ExpressionTypeInfo)
map <leader>sh <Action>(ShowHoverInfo)
map <leader>oo <Action>(FileStructurePopup)

let g:WhichKeyDesc_usages = "<leader>u Find Usages"
let g:WhichKeyDesc_find_usages = "<leader>ug Find Usages"
let g:WhichKeyDesc_show_usages = "<leader>uu Show Usages"
let g:WhichKeyDesc_view = "<leader>v View"
let g:WhichKeyDesc_view_source = "<leader>vs View Source"
let g:WhichKeyDesc_find_usages = "<leader>qi Quick Implementation"
let g:WhichKeyDesc_show_usages = "<leader>gt Quick Type Definition"
let g:WhichKeyDesc_types = "<leader>t Types"
let g:WhichKeyDesc_expression_type_info = "<leader>ti Expression Type Info"
let g:WhichKeyDesc_show_hover_info = "<leader>sh Show Hover Info"
let g:WhichKeyDesc_file_structure = "<leader>o File Structure"
let g:WhichKeyDesc_file_structure_popup = "<leader>oo File Structure Popup"

map <M-f> <Action>(Find)
map <M-r> <Action>(Replace)
map <leader>ff <Action>(FindInPath)
map <leader>fr <Action>(ReplaceInPath)

let g:WhichKeyDesc_find  = "<leader>f Find/Replace"
let g:WhichKeyDesc_find_in_path = "<leader>ff Find in Path"
let g:WhichKeyDesc_replace_in_path = "<leader>fr Replace in Path"

map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

let g:WhichKeyDesc_refactoring = "<leader>r Code"
let g:WhichKeyDesc_refactoring_rename = "<leader>rn Rename Element"
let g:WhichKeyDesc_refactoring_extract = "<leader>rm Extract Method"
let g:WhichKeyDesc_refactoring_variable = "<leader>rv Introduce Variable"
let g:WhichKeyDesc_refactoring_field = "<leader>rf Introduce Field"
let g:WhichKeyDesc_change_signature = "<leader>rs Change Signature"
let g:WhichKeyDesc_quick_list_popup = "<leader>rr Quick List Popup"

map <leader>aa <Action>(ShowIntentionActions)
map <leader>sw <Action>(SurroundWith)
map <S-space> <Action>(Generate)
map <S-d> <Action>(EditorDuplicateLines)

imap <A-space> <Action>(CodeCompletion)

map <leader>en <Action>(GotoNextError)
map <leader>ep <Action>(GotoPreviousError)
map <leader>lc <Action>(JumpToLastChange)
map <leader>ll <Action>(RecentLocations)
map <C-o> <Action>(RecentFiles)
map <S-j> <Action>(MethodUp)
map <S-k> <Action>(MethodDown)

let g:WhichKeyDesc_error  = "<leader>e Error"
let g:WhichKeyDesc_goto_next_error = "<leader>en Goto Next Error"
let g:WhichKeyDesc_goto_previous_error = "<leader>ep Goto Previous Error"
let g:WhichKeyDesc_navigation = "<leader>l Navigation"
let g:WhichKeyDesc_jump_to_last_change = "<leader>lc Jump to Last Change"
let g:WhichKeyDesc_recent_locations = "<leader>ll Recent Locations"

map <leader>rc <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>ra <Action>(RearrangeCode)

let g:WhichKeyDesc_reformat_code  = "<leader>rc Reformat Code"
let g:WhichKeyDesc_optimize_imports = "<leader>oi Optimize Imports"
let g:WhichKeyDesc_rearrange_code = "<leader>ra Rearrange Code"

map <A-,> <Action>(MoveLineUp)
map <A-.> <Action>(MoveLineDown)
map <C-,> <Action>(MoveStatementDown)
map <C-.> <Action>(MoveStatementUp)
map <leader>ca <Action>(CopyAbsolutePath)
map <leader>cn <Action>(CopyFileName)
map <leader>cp <Action>(CopyContentRootPath)

let g:WhichKeyDesc_files  = "<leader>c Files"
let g:WhichKeyDesc_copy_absolute_path = "<leader>ca Copy Absolute Path"
let g:WhichKeyDesc_copy_file_name = "<leader>cn Copy Filename"
let g:WhichKeyDesc_copy_content_root_path = "<leader>cp Copy Content Root Path"

map <leader>qq <Action>(CloseContent)
map <leader>qa <Action>(CloseAllEditors)
map <leader>ir <Action>(RestartIde)

let g:WhichKeyDesc_close  = "<leader>q Close/Informationen"
let g:WhichKeyDesc_close_content  = "<leader>qq Close Content"
let g:WhichKeyDesc_close_all_editors  = "<leader>qa Close all Editors"
let g:WhichKeyDesc_ide  = "<leader>i IDE"
let g:WhichKeyDesc_ide_restart  = "<leader>ir Restart IDE"

map <leader>er <Action>(Run)
map <leader>ed <action>(Debug)
map <leader>el <Action>(Rerun)
map <leader>ea <Action>(RunClass)
map <leader>es <Action>(Stop)
map <leader>ec <Action>(ChooseRunConfiguration)

let g:WhichKeyDesc_execute = "<leader>e Execute"
let g:WhichKeyDesc_execute_run = "<leader>er Run"
let g:WhichKeyDesc_execute_debug = "<leader>ed Debug"
let g:WhichKeyDesc_execute_rerun = "<leader>el Rerun"
let g:WhichKeyDesc_execute_run_class = "<leader>ea Run Class"
let g:WhichKeyDesc_execute_stop  = "<leader>es Stop"
let g:WhichKeyDesc_execute_choose = "<leader>ec Choose Run Configuration"

map <leader>dc <action>(ContextDebug)
map <leader>dr <action>(Resume)
map <leader>dx <action>(EvaluateExpression)
map <leader>dt <action>(RunToCursor)

let g:WhichKeyDesc_debug = "<leader>d Debug"
let g:WhichKeyDesc_debug_context = "<leader>dc Debug Context"
let g:WhichKeyDesc_debug_resume = "<leader>dr Resume"
let g:WhichKeyDesc_evaluate_expression = "<leader>dx Evaluate Expression"
let g:WhichKeyDesc_run_to_cursor = "<leader>dt Run to Cursor"
