""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Keys on Nuphy Keyboard (MAC)
"   S - Shift
"   C - CTRL
"   A - OPT
"   M - Cmd
"
" Navigate Tabs Vim bindings:
"   gt, go to next tab
"   gT, go to the previous tab
"   1gt, go to the first tab
"   2gt, go to the second tab
"   3gt, ....
"
" Plugin Commentary:
"   gc{motion}     Comment or uncomment lines that {motion} moves over.
"   gcc            Comment or uncomment [count] lines.
"   {Visual}gc     Comment or uncomment the highlighted lines.
"   gc             Text object for a comment (operator pending mode only.)
"   gcgc           Uncomment the current and adjacent commented lines.
"   gcu
"
" IntelliJ Code Completion:
"   Shortcut: Shift + Opt + Space
"   Configuration: Settings | Editor | General | Code Completion | Show suggestions as you type | Popup
" 
" IntelliJ Shortcuts:
"    Ctrl-TAB                           -     Switcher
"    Cmd-1                              -     Focus Project Explorer
"    <space> focus Project Explorer     -     Show File Preview
"    Cmd-f                              -     Find in File
"    Cmd-r                              -     Find and Replace in File
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

set scrolloff=5
set history=1000

" Plugins
set surround
set NERDTree
set which-key
set easymotion
set commentary
set highlightedyank

" which-key: increase the timeoutlen (default: 1000), don't add space around the equal sign
set notimeout

let g:WhichKey_FontSize = 15
let g:WhichKey_PrefixColor = "#f5a97f"
let g:WhichKey_CommandColor = "#7dc4e4"
let g:WhichKey_PrefixStyle = "bold"
let g:WhichKey_KeyStyle = "italic"
let g:WhichKey_SortOrder = "by_key_prefix_first"
let g:WhichKey_ShowTypedSequence = "true"
let g:WhichKey_ShowVimActions = "true"

let g:WhichKeyDesc_easymotion = "<leader><leader> EasyMotion"

" highlightedyank: highlight yanked text for 2000ms (default: 500)
let g:highlightedyank_highlight_duration = "2000"
let g:highlightedyank_highlight_color = "rgba(147, 154, 183, 100)"

" leader key
let mapleader = ' '
let g:WhichKeyDesc_leader = "<leader> Leader Key"

" sync Vim clipboard with OS clipboard
set clipboard^=unnamed,unnamedplus

" jump between angle brackets
set matchpairs+=<:>

" smart line joining
set ideajoin

let g:WhichKeyDesc_vim_config = "<leader>c Vim Configuration"
" open config
noremap <leader>cc :edit ~/.ideavimrc<cr>
let g:WhichKeyDesc_vim_config_edit = "<leader>cc Edit Vim Configuration File"
" source config
noremap <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>
let g:WhichKeyDesc_vim_config_reload = "<leader>cs Reload Vim Configuration File"

set hlsearch
" remove search highlights
nnoremap <Esc> :nohlsearch<cr>
" case-insensitive search
set ignorecase
" enable case-sensitive search when uppercased letter is present
set smartcase
" search while typing
set incsearch

""" Distraction Free Mode
nnoremap <C-z> :action ToggleDistractionFreeMode<CR>
map <leader>uz <action>(ToggleZenMode)
map <leader>uf <action>(ToggleFullScreen)
let g:WhichKeyDesc_ui = "<Leader>u UI"
let g:WhichKeyDesc_ui_zen_mode = "<Leader>uz Toggle Zen mode"
let g:WhichKeyDesc_ui_fullscreen = "<Leader>uf Toggle full screen"

""" Navigation

nnoremap <C-\> :action SplitVertically<CR>
nnoremap <C--> :action SplitHorizontally<CR>
nnoremap <C-=> :action Unsplit<CR>
nnoremap <C-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <C-j> a:vim
sethandler <C-k> a:vim

" go to the left split
nnoremap <C-h> <C-w>h
" go to the bottom split
nnoremap <C-k> <C-w>j
" go to the top split
nnoremap <C-j> <C-w>k
" go to the right split
nnoremap <C-l> <C-w>l

" switch to next tab
nnoremap <TAB> gt
" switch to previous tab
nnoremap <S-TAB> gT

nnoremap <Leader>wt :action CloseContent<CR>
nnoremap <Leader>wx :action CloseAllEditors<CR>
nnoremap <Leader>wq :action CloseProject<CR>
let g:WhichKeyDesc_windows = "<Leader>w Window"
let g:WhichKeyDesc_windows_close_current = "<Leader>wt Close Current Tab"
let g:WhichKeyDesc_windows_close_all = "<Leader>wx Close All Tabs"
let g:WhichKeyDesc_windows_close_project = "<Leader>wq Close Project"

""" Editor source code

vnoremap < <gv
vnoremap > >gv

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap <C-j> :action MoveLineUp<CR>
nnoremap <C-k> :action MoveLineDown<CR>

nnoremap <C-S-j> :action MoveStatementDown<CR>
nnoremap <C-S-k> :action MoveStatementUp<CR>

nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <Leader>zc :action CollapseAllRegions<CR>
nnoremap <Leader>zo :action ExpandAllRegions<CR>
let g:WhichKeyDesc_regions = "<Leader>z Regions"
let g:WhichKeyDesc_regions_collapse_all = "<Leader>zc Collapse All Regions"
let g:WhichKeyDesc_regions_expand_all = "<Leader>zo Expand All Regions"

nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>rm :action ExtractMethod<CR>
nnoremap <Leader>rv :action IntroduceVariable<CR>
nnoremap <Leader>rf :action IntroduceField<CR>
nnoremap <Leader>rs :action ChangeSignature<CR>
nnoremap <Leader>rr :action Refactorings.QuickListPopupAction<CR>
let g:WhichKeyDesc_refactoring = "<Leader>r Refactoring"
let g:WhichKeyDesc_refactoring_rename = "<Leader>rn Rename Element"
let g:WhichKeyDesc_refactoring_extract = "<Leader>rm Extract Method"
let g:WhichKeyDesc_refactoring_variable = "<Leader>rv Introduce Variable"
let g:WhichKeyDesc_refactoring_field = "<Leader>rf Introduce Field"
let g:WhichKeyDesc_refactoring_change_signature = "<Leader>rs Change Signature"
let g:WhichKeyDesc_refactoring_quick_list_popup = "<Leader>rr Quick List Popup"

nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <Leader>o :action OptimizeImports<CR>
let g:WhichKeyDesc_reformat_code = "<Leader>= Reformat Code"
let g:WhichKeyDesc_organize_imports = "<Leader>o Organize Imports"

sethandler <C-r> a:vim

nnoremap <C-r> :action RecentFiles<CR>
nnoremap <Leader>R :action RecentLocations<CR>
nnoremap <Leader>h :action LocalHistory.ShowHistory<CR>
let g:WhichKeyDesc_recent_locations = "<Leader>R Recent Locations"
let g:WhichKeyDesc_show_local_history = "<Leader>h Show Local History"

nnoremap <Leader>ge :action GotoNextError<CR>
nnoremap <Leader>gE :action GotoPreviousError<CR>
let g:WhichKeyDesc_goto = "<Leader>g Goto"
let g:WhichKeyDesc_goto_next = "<Leader>ge Goto Next Error"
let g:WhichKeyDesc_goto_previous = "<Leader>gE Goto Previous Error"

imap <A-space> <Action>(CodeCompletion)

""" Searching and Source Code Navigation

nnoremap <Leader>sp :action FindInPath<CR>
let g:WhichKeyDesc_search = "<Leader>s Search"
let g:WhichKeyDesc_search_in_path = "<Leader>sp Find in Path"

nnoremap <Leader>S :action GotoRelated<CR>
nnoremap <Leader>y :action CallHierarchy<CR>
nnoremap <Leader>u :action FindUsages<CR>
let g:WhichKeyDesc_goto_related = "<Leader>R Goto Related"
let g:WhichKeyDesc_call_hierarchy = "<Leader>y Call Hierarchy"
let g:WhichKeyDesc_find_usages = "<Leader>u Find Usages"

nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gD :action GotoTypeDeclaration<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>gm :action GotoSuperMethod<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>ga :action GotoAction<CR>
let g:WhichKeyDesc_goto_class = "<Leader>gc Goto Class"
let g:WhichKeyDesc_goto_declaration = "<Leader>gd Goto Declaration"
let g:WhichKeyDesc_goto_declaration = "<Leader>gf Goto File"
let g:WhichKeyDesc_goto_type_declaration = "<Leader>gD Goto Type-Declaration"
let g:WhichKeyDesc_goto_implementation = "<Leader>gi Goto Implementation"
let g:WhichKeyDesc_goto_test = "<Leader>gt Goto Test"
let g:WhichKeyDesc_goto_super_method = "<Leader>gm Goto Super-Method"
let g:WhichKeyDesc_goto_symbol = "<Leader>gs Goto Symbol"
let g:WhichKeyDesc_goto_actions = "<Leader>ga Goto Actions"

nnoremap <Leader>cu :action ShowUsages<CR>
nnoremap <leader>cU :action ShowUmlDiagram<CR>
nnoremap <Leader>ce :action ShowErrorDescription<CR>
nnoremap <Leader>ci :action QuickImplementations<CR>
nnoremap <Leader>ct :action QuickTypeDefinition<CR>
nnoremap <Leader>ce :action ExpressionTypeInfo<CR>
nnoremap <leader>cp :action ParameterInfo<CR>
nnoremap <leader>cj :action QuickJavaDoc<CR>
nnoremap <leader>cm :action MethodHierarchy<CR>
nnoremap <leader>cf :action FileStructurePopup<CR>
let g:WhichKeyDesc_info = "<Leader>c Code"
let g:WhichKeyDesc_info_usages = "<Leader>cu Show Usages"
let g:WhichKeyDesc_info_uml_diagram = "<Leader>cU UML Diagram"
let g:WhichKeyDesc_info_error_description = "<Leader>ce Show Error Description"
let g:WhichKeyDesc_info_quick_implementations = "<Leader>ci Quick Implementations"
let g:WhichKeyDesc_info_quick_type_definitions = "<Leader>ct Quick Type Definitions"
let g:WhichKeyDesc_info_expressions_type_info = "<Leader>ce Expressions Type Info"
let g:WhichKeyDesc_info_parameter = "<Leader>cp Parameter Info"
let g:WhichKeyDesc_info_javadoc = "<Leader>cj Java Doc"
let g:WhichKeyDesc_info_method_hierarchy = "<Leader>cm Method Hierarchy"
let g:WhichKeyDesc_info_file_structure q = "<Leader>cf File Structure Popup"

""" Tool Windows

sethandler <C-p> a:vim

nnoremap <C-p> :action JumpToLastWindow<CR>
nnoremap <C-x> :action HideAllWindows<CR>
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>

nnoremap <Leader>wa :action ActivateDatabaseToolWindow<CR>
nnoremap <Leader>wb :action ActivateBuildToolWindow<CR>
nnoremap <Leader>wp :action ActivateProjectToolWindow<CR>
nnoremap <Leader>wd :action ActivateDebugToolWindow<CR>
nnoremap <Leader>we :action ActivateRunToolWindow<CR>
nnoremap <Leader>ws :action ActivateStructureToolWindow<CR>
nnoremap <Leader>wc :action ActivateCommitToolWindow<CR>
nnoremap <Leader>wv :action ActivateVersionControlToolWindow<CR>
let g:WhichKeyDesc_windows_database= "<Leader>wa Database Window"
let g:WhichKeyDesc_windows_build = "<Leader>wb Build Tool"
let g:WhichKeyDesc_windows_project = "<Leader>wp Project Window"
let g:WhichKeyDesc_windows_debug = "<Leader>wd Debug Window"
let g:WhichKeyDesc_windows_run = "<Leader>we Run Window"
let g:WhichKeyDesc_windows_structure = "<Leader>ws Structure Window"
let g:WhichKeyDesc_windows_commit = "<Leader>wc Commit Window"
let g:WhichKeyDesc_windows_version_control = "<Leader>wv Version Control Window"

""" Running and Debugging

nnoremap <Leader>em :action RunMenu<CR>
nnoremap <Leader>en :action RunClass<CR>
nnoremap <Leader>ec :action ContextRun<CR>
nnoremap <Leader>er :action Rerun<CR>
nnoremap <leader>et :action RunTests<CR>
nnoremap <leader>ef :action RerunFailedTests<CR>
nnoremap <leader>es :action Stop<CR>
nnoremap <Leader>eC :action ChooseRunConfiguration<CR>
let g:WhichKeyDesc_run = "<Leader>e Run"
let g:WhichKeyDesc_run_menu = "<Leader>em Run Menu"
let g:WhichKeyDesc_run_class = "<Leader>en Run Class"
let g:WhichKeyDesc_run_context = "<Leader>ec Context Run"
let g:WhichKeyDesc_run_rerun = "<Leader>er Rerun"
let g:WhichKeyDesc_run_tests = "<Leader>et Run Tests"
let g:WhichKeyDesc_run_failed = "<Leader>ef Rerun Failed Tests"
let g:WhichKeyDesc_run_stop = "<Leader>es Stop"
let g:WhichKeyDesc_run_choose_configuration = "<Leader>eC Choose Run Configuration"

nnoremap <leader>dd :action Debug<CR>
nnoremap <Leader>dc :action ContextDebug<CR>
nnoremap <Leader>dt :action ActivateDebugToolWindow<CR>
let g:WhichKeyDesc_debug = "<Leader>d Debug"
let g:WhichKeyDesc_debug_execute = "<leader>dd Execute Debug"
let g:WhichKeyDesc_debug_context = "<leader>dc Context Debug"
let g:WhichKeyDesc_debug_activate_tool_window = "<leader>dt Activate Debug Tool Window"
